.wrapper {
    position: relative;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.sidebar-group {
    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        display: none;
        animation: fadeIn linear 0.2s;

        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: var(--sidebar-large-width);
        z-index: 1000;
        transform: translateX(-100%);
        opacity: 0;
        transition: transform linear 0.2s, opacity linear 0.2s;
    }
}

.sidebar-group {
    &.showSidebar {
        .overlay {
            display: block;
        }

        .sidebar {
            opacity: 1;
            transform: translateX(0%);
        }
    }
}

.sidebar-header {
    display: flex;
    padding-left: 16px;
    width: var(--sidebar-large-width);
    background-color: rgba(255, 255, 255, 0.98);
}
