.wrapper {
    padding: 0 8px;
    margin-bottom: 40px;
    max-width: 25%;
    min-width: 255px;
    cursor: pointer;

    &:hover {
        .menu {
            display: block;
        }
    }
}

.video-img {
    position: relative;
}

.image {
    display: block;
    width: 100%;
}

.duration {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 4px;
    padding: 3px 4px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2rem;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.8);
}

.details {
    position: relative;
    display: flex;
    margin-top: 12px;
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.info {
    margin-left: 12px;
    padding-right: 24px;
}

.title {
    margin-bottom: 6px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    white-space: normal;
}

.sub-info {
    display: flex;
    flex-direction: column;
}

.channel-info {
    display: flex;
}

.account-name,
.views,
.time {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: var(--text-color-secondary);
}

.tick-icon {
    margin: 3px 0 0 4px;
    color: var(--text-color-secondary);
}

.video-info {
    display: flex;
}

.views {
    &::after {
        content: '•';
        margin: 0 4px;
    }
}

.menu {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 50%;
    display: none;

    &:active {
        animation: show linear 0.3s;

        @keyframes show {
            0% {
                background-color: rgba(0, 0, 0, 0.1);
                border: 1px solid transparent;
            }
            50% {
                background-color: rgba(0, 0, 0, 0.05);
                border: 1px solid #ccc;
            }
            100% {
                background-color: var(--white);
                border: 1px solid transparent;
            }
        }
    }
}
